/* ================ GENERAL CSS ================ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:link,
a:hover,
a:visited,
a:active {
  color: #4c545c;
}

/* ================ REUSABLE CLASSES ================ */

.section {
  margin: 0 auto;
  max-width: 37.5rem;
  padding: 0 3.2rem;
  margin-bottom: 15rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.section__header {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.5rem;
  text-align: center;
  letter-spacing: -0.456522px;

  color: #4c545c;
}

.section__header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.section__desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 0.12px;

  color: #9eabb2;
}

.section__btns-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn {
  border: none;
  width: 31.1rem;
  height: 5.6rem;

  border-radius: 2.8rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.5px;
  color: #ffffff;
  cursor: pointer;
}

.section__btn--ios {
  background: #26bba4;
  box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305),
    inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}
.section__btn--mac {
  background: #6174ff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035),
    inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}

.section__img-wrapper {
  overflow: hidden;
}

.section__img {
  width: 100%;
}

.section__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.section__list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.section__list__item:last-child {
  margin-bottom: 0;
}

.list__item__header {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: -0.391304px;

  color: #4c545c;
}

.list__item__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  text-align: center;
  letter-spacing: 0.12px;

  color: #9eabb2;
}

/* ================ MAIN CSS ================ */
.section__header--main {
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: -0.521739px;
}

.section__logo-wrapper--hero {
  width: 100%;
  height: 30rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* ================ FOOTER ================ */
.footer {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
  padding: 3.2rem;
}

.footer__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 100%;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9eabb2;
  opacity: 0.1;
  z-index: -1;
}

.footer__logo {
  width: 5.5rem;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer__nav__link {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.135px;
}

.footer__social-links {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.footer__social__link {
  color: #4c545c;
}

.attribution {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.12px;
  color: #9eabb2;
}
